<%- include('partials/header') %>
<h1 class="myheading"> Mysuru Mulakanadu Sabha®</h1>


	<div class="container-fluid">
		<div class="d-flex justify-content-center">
			<div class="user_card mt-5 mx-5 px-3">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="images/logo.jpeg" class="brand_logo" alt="Logo">
					</div>
        		</div>
                <div class="d-flex justify-content-center">
		
                <h4 class="myh4">Confirm your details</h4>
        
        
	
                </div>
				<div class="d-flex justify-content-center form_container">
         
                    <form action="/profile" method="POST">
                        <div class="d-flex justify-content-center">
                            <h5 style="font-family: 'Hind Vadodara';">Name: <span class="colorspan"><%=user.fullname%></span></h5>
                        </div>
						<div class="d-flex justify-content-center">
                            <p style="font-family: 'Hind Vadodara'; text-align: center;"> Address: <span class="colorspan"><%=  user.address+", "+user.city+"-"+user.pincode %></span></p>
                        </div><input type="hidden" name="sabhe_id" value="<%=user.sabhe_id %>">
						<div class="d-flex justify-content-center mt-3 login_container">
				 	        <button style="width:70%" type="submit" name="button" class="btn login_btn">Yes, confirm</button>
                        </div>
                        </form>
                        
                        
                </div>
                <div class="d-flex justify-content-center mt-3 login_container">
				 	        <button onclick="goBack()">No, go Back</button>
                        </div>
             </div>
        
    </div>
  </div>







<%- include('partials/footer') %>